.contact-header-sec{
    height: 300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to top,black,aqua,black)
}
.contact-header-sec h1{
    font-size:3rem ;
    box-shadow: 2px 2px 12px 25px white;
    background-color: rgb(255, 254, 254);
    color: rgb(61, 13, 98);
    border-radius: 10px;
    border-bottom: 4px solid rgb(4, 0, 10);
}
.contact-form-sec{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
}
.contact-form-sec h1,.contact-form-sec p{
    margin-bottom: 20px;
}

.full-name input,.email input,.phone-number input{
    padding: 8px 15px;
    width: 150%;
}
.full-name input:hover,.email input:hover,.phone-number input:hover,.text-area textarea:hover{
   background-color: aquamarine;
}
.full-name{
    margin-bottom: 10px;
    margin-right: 10%;
}
.email{
    margin-bottom: 10px;
    margin-right: 10%;
    
}
.phone-number{
    margin-bottom: 10px;
    margin-right: 10%;
    
}
.text-area{
    margin-bottom: 10px;
    margin-left: 20px;
    
}
.text-area span h4{
    padding-bottom: 5px;
}
.form-sec-btn{
    margin-top: 10px;
    margin-right: 19%;
}
.form-sec-btn button{
    padding: 5px 10px;
    font-weight: 800;
    cursor: pointer;
    background: transparent;
    color: white;
}
.form-sec-btn button:hover{
   color: white;
   background-color: blue;
   border-color: blue;
   transition: 0.5s;
   box-shadow: 5px 5px 18px white;
}


.contact-info{
    margin-top:10%;
}
.detail-btn button{
    width: 150%;
    height: 50px;
    font-size: 2rem;
    cursor: pointer;
    background: transparent;
    color: white;
}
.detail-btn{
    margin-right: 10%;
}
.detail-btn button:hover{
    background:linear-gradient(to left, rgb(12, 12, 12),aqua,rgb(12, 11, 11));
    color: black;
    transition: .5s;
    border-radius: 50%;
    border-color: aqua;
}
.contact-info p{
    cursor: pointer;
}



@media (max-width:414px) {
    .contact-header-sec h1{
     font-size: 1.5rem;
    }
    .full-name input,.email input,.phone-number input{
        width: 100%;
    }.form-sec-btn button{
      margin-right: 100px;
    }
    .contact-info{
        padding: 5px 20px;
    }
    .detail-btn button{
        width: 120%;
      font-size: 1.5rem;
    }

}