.footer{
    height: auto;
    color: white;
}
.sec-1{
    height: 400px;
    justify-content: space-between;
    display: flex ;
    align-items: center;
    background-color: rgb(1, 33, 36);
}
.block1{
    width: 30%;
    text-align: center;
    margin-left: 50px;
}
.block2{
    width: 50%;
    text-align: center;
    position: relative;
    /* border: 1px solid white; */
    height: 400px;
}
.block2 img{
    width: 23%;
    height: 200px;
    border-radius: 10px;
}
.block1 h1{
    margin-bottom: 10px;
}
.icons img{
    width: 30%;
    margin-right: 10px;
    cursor: pointer;
}
.img-1{
    position: absolute;
    top: 10%;
    left: 50%;
}
.img-2{
    position: absolute;
    top: 15%;
    left: 45%;
}
.img-3{
    position: absolute;
    top: 20%;
    left: 40%;
}

.img-1:hover{
    width: 35%;
    height: auto;
    transition: 1s;
    z-index: 10;
}
.img-2:hover{
    position: absolute;
    width: 35%;
    height: auto;
    transition: 1s;
    z-index: 20;
}
.img-3:hover{
  width: 35%;
  height: auto;
  transition: 1s;
}
.appl{
    border-radius: 5px;
    border: 1px solid rgb(118, 116, 116);
}
.goog{
    height: 45px;
}


/* -----------------------------> */

.sec-2{
    display: flex;
    height: 400px;
    padding: 40px 60px;
    justify-content: space-between;
}
.part-1,.part-2,.part-3,.part-4{
    display: flex;
    flex-direction: column;
}
.part-1 span{
    padding: 7px 0px;
    color: rgb(117, 113, 109);
}
.part-1 .h3{
    margin-top: 30px;
}
.part-2 span{
    padding: 7px 0px;
    color: rgb(117, 113, 109);
}
.part-3 span{
    padding: 7px 0px;
    color: rgb(117, 113, 109);
}
.part-4 p{
    padding: 7px 0px;
    color: rgb(117, 113, 109);
}
.part-4 button{
    margin-top: 60px;
    padding: 10px 5px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 900;
    color: rgb(0, 0, 11);
    background-color: rgb(99, 99, 181);
    cursor: pointer;
}

.part-4 button:hover{
    color:white;
    background-color: rgb(7, 7, 106);
    transition: 1s;
    border-color:  rgb(7, 7, 106);
}
.hr-tag{
    margin: 0px 60px;
    color: rgb(21, 20, 20);
}

/* ---------------------------------> */
.sec-3{
    display: flex;
    height: 150px;
    padding: 40px 60px;
    justify-content: space-between;

}
.p-1{
    width: 70%;
}
.p-2{
    margin-right: 20px;
}
.p-1 span{
    padding: 10px 10px;
    color: rgb(112, 101, 87);
    cursor:  pointer;
}
.p-2 i{
    padding: 20px 10px;
    font-size: 2rem;
    cursor: pointer;
}



@media (max-width: 414px) {
    .block1{
        width: 45%;
      
    }
    .block2{
        width: 45%;
        margin-right: 10px;
       
    }
    .block2 img{
        width: 40%;
        height: auto;       
    }
    .img-1:hover{
        width: 55%;
    }
    .img-2:hover{
        width: 55%;
       
    }
    .img-3:hover{
      width: 55%;
    
    }
    .icons img{
        width: 40%;
        height: 30px;
    }
    .sec-2{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .sec-3{
        display: flex;
       flex-direction: column;
    
    }
    .p-1{
        width: 100%;
    }

}

@media screen and (min-width: 414px) and (max-width: 896px) {
    .block1{
        width: 30%;
      
    }
    .block2{
        width: 60%;
      
    }
    .icons img{
        width: 40%;
        height: 35px;
    }
    .block2 img{
        width: 25%;
        height: auto;       
    }
  }
  