.container {
  height: 50%;
  color: rgb(36, 32, 32);
}
.section {
  position: relative;
}
.section::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
}
.sec-img img {
  height: 500px;
  /* height: auto; */
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.sec-info {
  position: absolute;
  top: 40%;
  left: 10%;
  color: aqua;
  margin-right: 20%;
  z-index: 50;
}
.sec-info h1 {
  font-size: 3rem;
  color: white;
}
.sec-info p {
  font-weight: 700;
}
.sec-info h1,
p {
  padding-bottom: 20px;
}
.section-1,
.section-2 {
  display: flex;
  background: linear-gradient(to left, black, rgb(3, 92, 92));
  color: white;
  height: 300px;
  align-items: center;
}
.hr {
  color: white;
}
.box-1 {
  margin: 0px 50px;
}
.box-1 h1,
h2 {
  font-size: 2rem;
}
.box-1 h3 {
  padding-top: 30px;
}
.box-2 .para-2 {
  color: aqua;
  font-weight: 900;
  font-size: 1.5rem;
  padding-top: 10px;
}
.box-2 .para-1 {
  padding-bottom: 20px;
}
.box-3 {
  margin: 0px 40px;
}
.image,
.image2 {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.section-3 {
  overflow-x: hidden;
  display: flex;
  position: relative;
}
.section-3::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: black;
  opacity: 0.7;
}
.img-1 img {
  height: 550px;
  width: 342px;
  object-fit: cover;
  object-position: center;
}
.info {
  position: absolute;
  top: 30%;
  left: 10%;
  color: aqua;
  margin-right: 20%;
  z-index: 10;
}
.info h1 {
  font-size: 3rem;
}
.info p {
  font-weight: 700;
}

/* -------------------->// */
.articles {
  color: white;
  margin: 20px 40px;
  margin-top: 50px;
}
.section-4,
.section-6 {
  display: flex;
  background-color: black;
  color: aqua;
  justify-content: space-between;
  padding: 20px 30px;
}
.block-1,
.block-2,
.block-3 {
  width: 28%;
  height: 630px;
  border: 1px solid rgb(74, 72, 72);
  text-align: center;
  padding: 0px 20px;
  border-radius: 5px;
  background: linear-gradient(to top, black, rgb(11, 93, 93));
  cursor: pointer;
  position: relative;
}
.block-1:hover,
.block-2:hover,
.block-3:hover {
  border-color: white;
  transition: 1s;
}
.block-1 img,
.block-2 img,
.block-3 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding-top: 10px;
}

.block-1 h2,
.block-2 h2,
.block-3 h2 {
  color: white;
  padding-top: 5px;
  padding-bottom: 20px;
}
.sec-4-btn {
  padding: 8px 10px;
  border-radius: 20px;
  font-weight: 900;
  color: white;
  background: transparent;
  border: none;
  position: absolute;
  top: 93%;
  left: 70%;
}
.sec-4-btn:hover {
  border: 2px solid rgb(113, 111, 111);
  transition: 1s;
  cursor: pointer;
}
/* --------------------------> */
.section-5 {
  position: relative;
}
.section-5::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 500px;
  background-color: rgb(22, 5, 94);
  left: 0;
  top: 0;
  opacity: 0.6;
}
.sec-5-img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.sec-5-info {
  position: absolute;
  top: 20%;
  text-align: center;
  margin-left: 40px;
  z-index: 20;
  color: aqua;
}

.sec-5-info h1 {
  color: white;
  font-size: 3rem;
}

.sec-5-info p {
  padding: 20px 20%;
  font-weight: 800;
}
.sec-5-info .btn button {
  margin: 10px 20px;
  padding: 10px 10px;
  cursor: pointer;
  background: transparent;
  color: whitesmoke;
  font-weight: 800;
  border: 1px solid white;
}
.sec-5-info .btn button:hover {
  background-color: rgb(12, 177, 47);
  color: rgb(0, 0, 0);
  border-color: rgb(12, 177, 47);
  transition: 0.8s;
  border-radius: 10px;
}

/* small device(mobile)------------------------------------> */

@media (max-width: 414px) {
  .sec-info h1 {
    font-size: 2rem;
  }
  .sec-img img {
    height: 1000px;
  }
  .box-2 hr {
    width: 83%;
    margin-left: 30px;
  }
  .section-1,
  .section-2 {
    display: flex;
    flex-direction: column;
    height: 650px;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .box-1 h1,
  h2 {
    font-size: 1.5rem;
  }
  .box-2 .para-1,
  .box-2 .para-2 {
    padding-left: 100px;
  }
  .para-detail {
    padding: 0px 20px;
    margin-bottom: 30px;
  }
  .section-4,
  .section-6 {
    display: flex;
    flex-direction: column;
  }
  .block-1,
  .block-2,
  .block-3 {
    width: 88%;
    height: 630px;
    margin-bottom: 20px;
  }
  .block-1 {
    height: 660px;
  }
  .sec-5-info h1 {
    color: white;
    font-size: 2rem;
    margin-right: 25px;
  }
}

/* medium device(tab) ------------------------------> */

@media screen and (min-width: 414px) and (max-width: 896px) {
 
  .sec-img img {
  height: 650px;
  }
  .block-1,
  .block-2,
  .block-3 {
    height: 750px;
  }
  .block-1 h2,
  .block-2 h2,
  .block-3 h2 {
    font-size: 1.3rem;
  }
}
