* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  color: aqua;
  width: 100%;
  position: fixed;
  /* top: 0px; */
  background: transparent;
  z-index: 100;
}
.nav-items-bg{
  background: linear-gradient(to top, rgb(67, 141, 148), black);
  transition: 1s;
}
.nav-items h1 {
  margin-left: 50px;
}
.nav-items h2 {
  margin-left: 60px;
}
.neon{
  transform: translate(-10%,-10%);
  text-shadow: 0 0 20px rgb(156, 247, 247);
}
.neon::after{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color:rgb(70, 193, 238) ;
  filter: blur(15px);
}
.neon::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: rgb(43, 222, 246);
  opacity: 0.5; ;
  filter: blur(40px);
}
.nav-tags {
  /* margin-right: 50px; */
  display: flex;
}
.nav-tags a {
  padding: 0px 20px;
  text-decoration: none;
  font-weight: 600;
  color: aqua;
  text-transform: uppercase;
}
.nav-tags a:hover {
  color: rgb(249, 209, 75);
  transition: 0.5s;
}

.tags {
  /* margin-left: 200px; */
  cursor: pointer;
  margin-right: 30px;
}
.tags span i {
  font-size: 1.5rem;
  padding: 0px 10px;
}
.tags span i:hover {
  color: white;
  transition: 00.5s;
}

.hamburger {
  margin-right: 30px;
  display: none;
}
.cross{
    display: none;
}

@media (max-width: 414px) {
  .nav-items {
    height: 7rem;
  }
  .nav-tags {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: -100%;
    background: linear-gradient(to left, black, rgb(7, 95, 95));
  }
  .nav-tags .active{
    left: 0;
  }
  .nav-tags a {
    padding-bottom: 20px;
    font-size: 1.5rem;
  }
  .nav-tags path {
    margin-bottom: 50px;
  }
  /* .tags{
        display: flex;
    } */

  .hamburger {
    display: initial;
  }
  .hamburger:hover {
    color: white;
    cursor: pointer;
    transition: 0.5s;
    display: initial;
  }
  .tags span i {
    padding-bottom: 10px;
  }
  .cross {
    margin-bottom: 50px;
    display: initial;
  }
}
