.shop-pro-comp-1{
    /* height: 600px; */
    color: white;
}
.shop-pro-comp-1 h1{
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
    font-size: 3rem;
}
.products{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

@media(max-width:414px) {
    .shop-pro-comp-1 h1{
        font-size: 2rem;
        padding: 25px 0px;
        }
    .products{
       
        display: grid;
      grid-template-columns: auto;
    }
    
}
