.videos-container-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 30px;
    overflow-x: auto;
}
.vdo-cont-tit-1{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
}
