.header-sec{
    height: 500px;
    width: 100%;
    position: relative;
}
.header-img img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.header-title{
    position: absolute;
    top: 40%;
    left: 23%;
    color: white;
    font-size: 3rem;
}
.vdo-text{
    background: linear-gradient(90deg,rgb(0, 10, 17),rgb(14, 214, 245),rgb(0, 16, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media (max-width:414px) {
    .header-title{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 414px) and (max-width: 896px) {
    .header-title{
        font-size: 2.5rem;
        }
  }
  