.work-out-block-1{
    color: white;
    display: flex;
    padding: 3% 10%;
}
.work-out-blk-img{
    width: 40%;
}
.work-out-blk-img img{
    width: 80%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}
.work-out-blk-info{
    width: 50%;
    
}
.work-out-blk-info h3{
    margin: 15px 0px;
}


@media (max-width:414px) {
    .work-out-block-1{
        display: flex;
       flex-direction: column;
    }
    .work-out-blk-img{
        width: 100%;
    }
    .work-out-blk-img img{
        width: 100%;
    }
    .work-out-blk-info{
        width: 100%;
        
    }
  
}